[user]
	email = bismigalis@gmail.com
	name = bismigalis

[alias]
  pu = !"git fetch origin -v; git fetch upstream -v; git merge upstream/master"
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
[push]
	default = simple
[core]
	editor = /usr/bin/emacs -nw
